<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body class="home_body">

    <header class="home_header">

        <img class="logo" src="/img/logo.png" alt="logo craftsy">

        <nav>
            <ul>
                <li>smartphones</li>
                <li>tablets</li>
                <li>computers</li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>login</li>
                <li>register</li>
            </ul>
        </nav>

        <a href="" class="hamburger_button"><i class="fas fa-bars"></i></a>

    </header>

    <main class="home_main">

        <section class="home_main_section">
            <article class="card">
                <img src="/img/img-phone-01.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-02.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-03.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-01.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-02.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-03.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
                    nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et
                    deleniti.</p>
                <p class="verMas">ver más</p>
            </article>
        </section>

            <aside class="home_aside-tutoriales">
                <div class="title-box">
                    <h3 class="aside-title">Tutoriales</h3>
                </div>
                <section class="section-content">
                    <article class="article-box">
                        <img src="/img/aside-01.jpg" alt="">
                        <p class="descripcion-producto">Titulo del tutorial de reparación</p>
                    </article>

                    <article class="article-box">
                        <img src="/img/aside-02.jpg" alt="">
                        <p class="descripcion-producto">Titulo del tutorial de reparación</p>
                    </article>

                    <article class="article-box">
                        <img src="/img/aside-03.jpg" alt="">
                        <p class="descripcion-producto">Titulo del tutorial de reparación</p>
                    </article>

                    <article class="article-box">
                        <img src="/img/aside-04.jpg" alt="">
                        <p class="descripcion-producto">Titulo del tutorial de reparación</p>
                    </article>
                </section>
            </aside>    

            <aside class="home_aside-tutoriales">
                <div class="title-box">
                    <h3 class="aside-title">Publicidad</h3>
                </div>
                <section class="section-publicity-content">
                    <article class="article-publicity-box">
                        <img src="/img/img1.jpg" alt="">
                    </article>
                    <article class="article-publicity-box">
                        <img class="img2" src="/img/img2.jpg" alt="">
                    </article>
                </section>
            </aside>  

    </main>

    <footer class="home_footer">
        <div class="footer-container">
            <div>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div>
                <p>© 2023 Craftsy</p>
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-arrow-turn-up" style="color: #000"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>