<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body class="home_body">

    <header class="home_header">

        <img class="logo" src="/img/logo.png" alt="logo craftsy">

        <nav>
            <ul>
                <li>smartphones</li>
                <li>tablets</li>
                <li>computers</li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>login</li>
                <li>register</li>
            </ul>
        </nav>

        <a href="" class="hamburger_button"><i class="fas fa-bars"></i></a>

    </header>

    <main class="home_main">

        <section class="home_main_section">
            <article class="card">
                <img src="/img/img-phone-01.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-02.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-03.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-01.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-02.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>

            <article class="card">
                <img src="/img/img-phone-03.jpg" alt="hand holding smartphone">
                <h4 class="titulo-producto">Nombre del producto</h4>
                <p class="descripcion-producto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt id, commodi nihil non quam incidunt soluta maxime consequuntur amet at, debitis et deleniti.</p>
                <p class="verMas">ver más</p>
            </article>
        </section>

        <aside class="home_aside-tutoriales">
            <h2>tutoriales</h2>

            <article>
                <img src="/public/img/aside-01.jpg" alt="">
            </article>

            <article>
                <img src="/public/img/aside-02.jpg" alt="">
            </article>

            <article>
                <img src="/public/img/aside-03.jpg" alt="">
            </article>

            <article>
                <img src="/public/img/aside-04.jpg" alt="">
            </article>
        </aside>

        <aside>
            <h2>publicidad</h2>

            <article>
                <img src="/public/img/ad-01.jpg" alt="">
            </article>

            <article>
                <img src="/public/img/ad-02.jpg" alt="">
            </article>
        </aside>

    </main>

    <footer>

    </footer>
</body>
</html>