:root {
    --bgColor: #BCF2FF;
    --headerColor: #EF4C27;
}

* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    font-family: 'Ubuntu';
    padding-bottom: 10px;
}

ul {
    list-style: none;
}